PORT=3001
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/babylon?retryWrites=true&w=majority
JWT_SECRET=replace-with-long-random-string
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
