@import "tailwindcss";

::-webkit-scrollbar {
	width: 0px;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Colors */
	--color-babylon-green: #79ae93;
	--color-babylon-blue-light: #5991a1;
	--color-babylon-blue-dark: #004258;

	/* Background sizes */
	--bg-size-auto: auto;
	--bg-size-cover: cover;
	--bg-size-contain: contain;
	--bg-size-50: 50%;
	--bg-size-30: 30%;
	--bg-size-25: 25%;

	/* Spacing */
	--spacing-1-50: 0.02%;
	--spacing-1-25: 0.04%;
	--spacing-1-16: 6.25%;
	--spacing-1-6: 17%;
	--spacing-1-5: 20%;
	--spacing-7-20: 35%;
	--spacing-50: 50%;
	--spacing-91: 91%;
	--spacing-18: 4.5rem;
	--spacing-44: 11rem; /* 176px */
	--spacing-100: 25rem; /* 400px */
	--spacing-120: 30rem; /* 480px */
	--spacing-160: 40rem; /* 640px */

	/* Blur */
	--blur-2xs: 2px;

	/* Animations */
	--animate-vote: vote 1.5s ease-in-out infinite;
	--animate-bounce: bounce 1s infinite;
}

@keyframes vote {
	0%,
	100% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(20deg);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-100%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		opacity: 1;
	}
	50% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		opacity: 0.5;
	}
}
